$def with (cls_Event)

<p><a href="/">Back to Home Page</a></p>

<img src="static/willowdalehouse.jpg" alt="Smiley face">
<h1><font face="verdana">The Willowdale Estate</font></h1>
<h2><font face="verdana">Saturday, October 14, 6pm
</font>
</h2>

<h3><font face="verdana">Dinner and drinks to follow.</font></h3>
<font face="verdana"><i>Toasts encouraged. Dancing required.</i></font>

<p><font face="verdana">Suggest a song!</font></p>
<form method="POST" action="add">
    Artist: <input type="text" name="artist"><br/>
    Song title: <input type="text" name="songtitle"><br/>
    <input type="submit" value="Submit Music" >
</form>
