$def with (cls_WhoTheyAre)
<html>
<title>W3.CSS Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>

<!--
<p><font face="verdana"><a href="/">Back to Home Page</a></font></p>
<div>
<p><h2><font face="verdana"><img src="static/mmd_profile.png" height="178" width="112" alt="Smiley face" align="left"
  >$cls_WhoTheyAre.MMDtitle</h2><h3>Meaghan is a Boston native, a graduate of Harvard University, and a Red Sox fan, but makes up for this on the principal fast track at Success Academy by molding   the minds of those molding young minds. She also <a href="https://www.facebook.com/meaghan.durgin/videos/10202729965070391/">raises money for ALS.</a></font></h3></p>
</div>
<div>
<p><h2><font face="verdana"><img src="static/ack_profile.png" height="178" width="112" alt="Smiley face" align="left">$cls_WhoTheyAre.ACKtitle</h2><h3>Andy is a New York native and a Jewish banker. He can be found at the Stumble Inn, organizing gambling rings, and stealing <a href="https://www.facebook.com/andy.c.katz/videos/10202918576785769/">ideas from Meaghan.</a></font></h3></p>
</div>
-->
<body>
<font face="verdana">
  <header class="w3-panel w3-padding-8 w3-center w3-opacity">
    <h1 class="w3-xlarge">WHO THEY ARE</h1>
  </header>
<div class="w3-row-padding w3-light-grey w3-padding-8 w3-container">
  <div class="w3-row">
    <div class="w3-col w3-container" style="width:150px">
    <!--  <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>-->
      <img src="static/mmd_profile.png" height="178" width="112" alt="Smiley face" align="left">
    </div>

    <div class="w3-rest">
      <h1>Meaghan Mary Durgin</h1>
      <h5 class="w3-padding-8">Meaghan is a Boston native, a graduate of Harvard University, and a Red Sox fan, but makes up for this on the principal fast track at Success Academy by molding   the minds of those molding young minds. She also <a href="https://www.facebook.com/meaghan.durgin/videos/10202729965070391/">raises money for ALS.</a></h5>

      <p class="w3-text-grey">Lorem ipsum</p>
    </div>
  </div>
</div>
<br>
<div class="w3-row-padding w3-light-grey w3-padding-8 w3-container">
  <div class="w3-row">
    <div class="w3-col w3-container" style="width:150px">
      <img src="static/ack_profile.png" height="178" width="112" alt="Smiley face" align="left">
    </div>

    <div class="w3-rest">
      <h1>Andrew Currin Katz</h1>
      <h5 class="w3-padding-8">Andy is a New York native and really wants to loan you hundreds of thousands of dollars. He can be found at the Stumble Inn, organizing gambling rings, and <a href="https://www.facebook.com/andy.c.katz/videos/10202918576785769/">egging Meaghan on.<a></h5>

      <p class="w3-text-grey">Lorem ipsum</p>
    </div>
  </div>
</div>

<p><a href="/">Back to Home Page</a></p>
</font>
</body>
</html>
